/* TOP MENU */
#top-container{
  display: flex;
  /* background-color: greenyellow; */
  height: 80px;
  align-items: center;
}

#title-container{
  width: 33.33%;
  padding:10px 0px 10px 10px;
}

#menu{
  width: 66.66%;
  margin-left: -10px;
  display:flex;
  justify-content:space-between;
}

.menu__dropdown{
  /* background-color: blueviolet; */
  width: 100%;
  justify-content:space-between;
  align-items: center;
  padding: 0 20px 0  0;
}

.menu__dropdown:last-child{
  padding-right: 10px;
}

.dash-dropdown{
  width: 100%;
  /* background-color: #219481 !important; */
}

.Select-control{
  /* background-color: #454747; */
  background-color: #191A1A;
}

.Select-menu-outer {
  /* background-color: #454747; */
  background-color: #191A1A;
}

.dropdown-ctn-text{
  display: block;
  margin: 0;
  padding-bottom: 2px;
}


/* TABS */
.tab{
  padding: 0px 0px !important;
  height: 40px;
  margin: 0 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #f1f3f1 !important;
}


/* VISUALIZACAO */
#tabs-content > div:first-child{
  height: calc(100vh - 150px);
  display: flex;
  margin-top: 15px;
}


/* VISUALIZACAO - RADIO + DROPDOWN */
#mapa-selecao-container{
  background-color: #f1f3f1;
  padding: 15px 10px;
  display: flex;
  justify-content:start;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  margin: 10px;
  border-radius: 5px;
}

#tab-atributos #mapa-selecao-container{
  width: 30%;
}

#radio-fluxo{
  width: 40%;
  margin-right: 20px;
}

#dropdown-atributos{
  display: flex;
  align-items: center;
}

#dropdown-atributos-container{
  width: 60%;
}

#tab-atributos #dropdown-atributos-container{
  width: 100%;
}

.Select--multi{
  width: 100% !important;
}


/* VISUALIZACAO MAPA */
#vis-container{
  width: 70%;
  height: 100%;
  position: relative;
  padding: 0;
}

.visualizacao-mapa{
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#visualizacao{
  height: 100%;
}
#visualizacao_2{
  height: 100%;
}

.mapboxgl-canvas{
  border-radius: 5px;
}


/* VISUALIZACAO LATERAL */
#vis_lat-container{
  width: 30%;
  padding: 10px;
}

