body{
  /* background-color: #182E2B; */
}


/* TOP MENU */
#top-container{
  display: flex;
  /* background-color: greenyellow; */
  height: 80px;
  align-items: center;
}

#title-container{
  width: 33.33%;
  padding:10px 0px 10px 10px;
}

#menu{
  width: 66.66%;
  margin-left: -10px;
  display:flex;
  justify-content:space-between;
}

.menu__dropdown{
  /* background-color: blueviolet; */
  width: 100%;
  justify-content:space-between;
  align-items: center;
  padding: 0 20px 0  0;
}

.menu__dropdown:last-child{
  padding-right: 10px;
}

.dash-dropdown{
  width: 100%;
  /* background-color: #219481 !important; */
}

.dropdown-ctn-text{
  display: block;
  margin: 0;
  padding-bottom: 2px;
}


/* TABS */
.tab{
  padding: 0px 0px !important;
  height: 40px;
  margin: 0 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

#tabs-content > div:first-child{
  border: 1px solid;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #191A1A;
}

#mapa-selecao-container{
  color: #f1f3f1;
  padding: 5px;
  display: flex;
  margin: 5px 10px 0 10px;
}

#radio-fluxo{
  width: 33.3%;
}

#dropdown-atributos{
  display: flex;
  align-items: center;
  /* width: 100%; */
}

#dropdown-atributos-container{
  width: 36.7%;
}

.Select--multi{
  width: 100% !important;
}

/* VISUALIZACAO */
#vis-container{
  display: flex;
  margin: 0 10px;
}

#visualizacao{
  width: 70%;
  padding: 10px;
}

#vis_lat-container{
  width: 30%;
  padding: 10px;
}


/* html {
    font-size: 62.5%;
}

body {
  font-size: 1.5em; 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50);
}


#div-dropdown-cidade{
    float: right;
    justify-content: center;
} */


 /* Custom
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
   
  /* body {
    background-color: #f2f2f2;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}
h1,

h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
    margin-bottom: 2rem;
  } */


/*–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* section {
width:100%;
max-width:100%;
display: flex;
flex-direction: column;
}

.header {
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
margin: auto;

}

#world_line_1{
    display: flex;
  
    justify-content: center;
}

#world_line_2{
display: flex;
width: 100%;
justify-content: center;
align-items: center;

}
 */
