body{
  background-color: #FFFFFF;
  font-family: Arial;
  height: 100%;
  width: 100%;
  margin: 0;
}

#_dash-app-content{
  padding: 0 10px;
}


/* TOP MENU */
#top-container{
  display: flex;
  /* background-color: greenyellow; */
  height: 80px;
  align-items: center;
}

#title-container{
  width: 33.33%;
  padding:10px 0px 10px 10px;
}

#menu{
  width: 66.66%;
  margin-left: -5px;
  display:flex;
  justify-content:space-between;
}

.menu__dropdown{
  /* background-color: blueviolet; */
  width: 100%;
  justify-content:space-between;
  align-items: center;
  padding: 0 20px 0  0;
}

.menu__dropdown:last-child{
  padding-right: 5px;
}

.dash-dropdown{
  width: 100%;
  color: #4B4E4E;
  font-size: 13px;
}

.Select-control{
  background-color: #FFFFFF;
  /* box-shadow: 0 1px 2px rgb(0 0 0 / 30%); */
}

.Select-control:hover{
  /* background-color: #454747; */
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}

.Select-menu-outer {
  /* background-color: #454747; */
  background-color: #FFFFFF;
}

.dropdown-ctn-text{
  display: block;
  margin: 0;
  padding-bottom: 2px;
  color: #4B4E4E;
  font-weight: bold;
  font-size: 13px;
}


/* TABS */
.tab{
  padding: 0px 0px !important;
  height: 40px;
  margin: 0 5px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #FFE8D6 !important;
  border: 1px solid transparent !important;
  border-radius: 10px;
  color: #4B4E4E;
  font-size: 15px;
}

.tab:hover{
  border: 1px solid #FF971D !important;
  font-weight: bolder;
}

.tab--selected {
  border-top: 1px solid transparent !important;
  background-color: #FF971D !important;
  font-weight: bolder;
}


/* VISUALIZACAO */
#tabs-content > div:first-child{
  height: calc(100vh - 160px);
  display: flex;
  margin-top: 15px;
  margin-left: 5px;
}


/* VISUALIZACAO - RADIO + DROPDOWN */
#mapa-selecao-container{
  background-color: #FFFFFF;
  padding: 15px 10px;
  display: flex;
  justify-content:start;
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  margin: 10px;
  border-radius: 10px;
}

#tab-atributos #mapa-selecao-container{
  width: 30%;
}

#radio-fluxo{
  width: 50%;
  margin-right: 20px;
}

#radio-fluxo > label{
  display: block;
  padding-bottom: 5px;
  color: #4B4E4E;
  font-size: 13px;
}

#radio-fluxo > label:last-child{
  padding-bottom: 0px;
}

#dropdown-atributos{
  display: flex;
  align-items: center;
}

#dropdown-atributos-container{
  width: 60%;
}

#tab-atributos #dropdown-atributos-container{
  width: 100%;
}

.Select--multi{
  width: 100% !important;
}


/* VISUALIZACAO MAPA */
#vis-container{
  width: 67%;
  height: 100%;
  position: relative;
  padding: 0;
  margin-right: 5px;
}

.visualizacao-mapa{
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#visualizacao{
  height: 100% !important;
}
#visualizacao_2{
  height: 100% !important;
}

.mapboxgl-canvas{
  border-radius: 5px;
}


/* VISUALIZACAO LATERAL */
#vis_lat-container{
  width: 33%;
  margin: 0 5px;
  /* border: 2px solid #E1E1E1;
  border-radius: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small_container-vis{
  margin: 10px 0;
  height: 50%;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
}

.small_container-vis:first-child{
  margin-top: 0;
}
.small_container-vis:last-child{
  margin-bottom: 0;
}

